
{% extends 'layout.html.twig' %}

{% block content %}


<div class="bs-example">
    <div class="card" style="max-width: 80%;">
        <div class="row no-gutters">
            <div class="col-sm-4" style="background: #868e96;">
                <img src="https://media.istockphoto.com/photos/alien-picture-id664373658?k=6&m=664373658&s=612x612&w=0&h=EGfDT0QLYjS3vtCSoLboCCgiO-FPqbHjDHIIQFHcgqg=" style="height:200px;" class="card-img-top h-100" alt="...">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">Bomboclat</h5>
                    <p class="card-text">You can start talking, you have both matcher</p>
      
    
  <form action="success" method="Post"  >
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Send the first message</label><br>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div><center><br><a href="messages"><button type="submit" class="btn btn-primary">Submit</button> </a></center>
</form>                </div>
            </div>
        </div>
    </div>
</div>


<div class="bs-example">
    <div class="card" style="max-width: 80%;">
        <div class="row no-gutters">
            <div class="col-sm-4" style="background: #868e96;">
                <img src="http://www.slate.fr/sites/default/files/styles/1060x523/public/capture_decran_2018-03-16_a_11.14.12.png" style="height:200px;" class="card-img-top h-100" alt="...">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">Alice Liddel</h5>
                    <p class="card-text">How are you ?</p>
      
    
  <form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">You can answer him</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div><center><br><a href="messages"><button type="submit" class="btn btn-primary">Submit</button> </a></center>
</form>                </div>
            </div>
        </div>
    </div>
</div>


<div class="bs-example">
    <div class="card" style="max-width: 80%;">
        <div class="row no-gutters">
            <div class="col-sm-4" style="background: #868e96;">
                <img src="https://b5e9z3t5.rocketcdn.me/wp-content/uploads/2020/01/Le-minor_pull-officier-femme-640x640.jpg" style="height:200px;" class="card-img-top h-100" alt="...">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">Lolita Macdav</h5>
                    <p class="card-text">Hi, we are on the same planet, that's so coooool !</p>
      <br>
     <h5 class="card-title">Me</h5>
                    <p class="card-text">Yeah, it's really cool ! What are you doing here ?</p>
      
    
  <form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">You can answer him</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div><center><br><a href="messages"><button type="submit" class="btn btn-primary">Submit</button> </a></center>
</form>                </div>
            </div>
        </div>
    </div>
</div>

<div class="bs-example">
    <div class="card" style="max-width: 80%;">
        <div class="row no-gutters">
            <div class="col-sm-4" style="background: #868e96;">
                <img src="https://cdn.radiofrance.fr/s3/cruiser-production/2016/09/c252c936-210b-4de5-a53c-9cbe08bebccf/838_et.jpg" style="height:200px;" class="card-img-top h-100" alt="...">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">E.T</h5>
                    <p class="card-text">E.T Phone Home.</p>
      
    
  <form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Send the first message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div><center><br><a href="messages"><button type="submit" class="btn btn-primary">Submit</button> </a></center>
</form>                </div>
            </div>
        </div>
    </div>
</div>
</html>
</div>
{% endblock %}

