{% extends 'layout.html.twig' %}
{% block title %}
	- Our plans
{% endblock %}

{% block content %}
	<div class="text-center pt-5">
		<h1>Our plans</h1>
	</div>

	<div id="ourplans">
		<section id="plans">
			<div class="container-fluid">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="card text-center">
								<div class="title_plan">
									<i class="fa fa-paper-plane" aria-hidden="true"></i>
									<h2>Restricted Flight</h2>
								</div>
								<div class="price">
									<h4>
										45 €</h4>
								</div>
								<div class="option">
									<ul>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											2 Round-trip seats
										</li>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											50 000km maximum
										</li>
										<li>
											<i class="fa fa-times" aria-hidden="true"></i>
											Unlimited Gasoline
										</li>
										<li>
											<i class="fa fa-times" aria-hidden="true"></i>
											Life insurance
										</li>
									</ul>
								</div>
								<a href="#">Order Now
								</a>
							</div>
						</div>
						<!-- END Col one -->
						<div class="col-sm-4">
							<div class="card text-center">
								<div class="title_plan">
									<i class="fa fa-plane" aria-hidden="true"></i>
									<h2>Jupiter Floating</h2>
								</div>
								<div class="price">
									<h4>
										75 €</h4>
								</div>
								<div class="option">
									<ul>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											3 Round-trip seats
										</li>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											100 000km maximum
										</li>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											Life insurance
										</li>
										<li>
											<i class="fa fa-times" aria-hidden="true"></i>
											Unlimited Gasoline
										</li>
									</ul>
								</div>
								<a href="#">Order Now
								</a>
							</div>
						</div>
						<!-- END Col two -->
						<div class="col-sm-4">
							<div class="card text-center">
								<div class="title_plan">
									<i class="fa fa-rocket" aria-hidden="true"></i>
									<h2>Solar Heat</h2>
								</div>
								<div class="price">
									<h4>
										120 €</h4>
								</div>
								<div class="option">
									<ul>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											6 Round-trip seats
										</li>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											1st class
										</li>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											Unlimited Gasoline
										</li>
										<li>
											<i class="fa fa-times" aria-hidden="true"></i>
											No sunscreen
										</li>
									</ul>
								</div>
								<a href="#">Order Now
								</a>
							</div>
						</div>
						<!-- END Col three -->
					</div>
				</div>
			</div>
		</section>
	</div>
</html>{% endblock %}
