{% extends 'layout.html.twig' %}

{% block content %}
<div class="text-center mt-5">

<div class="container-grj">
    <div class="card-group e">
       <div class="card re">
          <div class="mt-3">
          <img src="https://images.unsplash.com/photo-1560507074-b9eb43faab00?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODR8fHBsYW5ldHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&height=375" class="card-img-top" alt="...">
            <div class="card-body e ">
            <h5 class="card-title">Pluto</h5>
            <p class="card-text">Pluto, officiellement désigné par Pluton, est une planète naine, la plus volumineuse connue dans le Système solaire, et la deuxième en ce qui concerne sa masse. Pluton est ainsi le neuvième plus gros objet connu orbitant directement autour du Soleil et le dixième par la masse..</p>
            <p class="card-text"><small class="text-muted"></small></p>
            </div>
         </div>
      </div>           
      <div class="card e">
        <div class="mt-3">
        <img src="https://images.unsplash.com/photo-1614732414444-096e5f1122d5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHBsYW5ldHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Cyclopia</h5>
          <p class="card-text">La supposée planète d'origine de Leela qui regroupe les uniques êtres de un, deux, trois, quatre et cinq œil. Ils ont chacun une ville (en ruine) et principalement une statue avec leur nombre quelconque d'œil dessus. .</p>
          <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
            

      </div>     
      <div class="card e">
        <div class="mt-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsVFrfk09bVD1OTq2QpZYmFK8jsSUnQr5u3hvOHP6fgW_GOfqHvk_tFtLnWJmH1rjMhx4&usqp=CAUwidth=300height=200" class="card-img-top" alt="...">
          <div class="card-body e">
          <h5 class="card-title">Uran</h5>
          <p class="card-text">Uran est la septième planète du Système solaire par ordre d'éloignement au Soleil. Elle orbite autour de celui-ci à une distance d'environ 19,2 unités astronomiques, avec une période de révolution de 84,05 années terrestres</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
    
    <div class"mt-5"></div>
      <div class"row"></div>


  </div>
    <div class="card-group">
      <div class="card e">
        <div class="mt-3">
        <img src="https://images.unsplash.com/photo-1569978237660-a20ee3bfa98b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjY2fHxwbGFuZXRzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60&height=375" class="card-img-top" alt="...">
          <div class="card-body">
           <h5 class="card-title">Ethernium</h5>
            <p class="card-text"> Ethernium est la plus ancienne planète de l'univers. Elle est apparue 17 ans et demi avant le Big Bang. C'est la planète d'origine des Nibbloniens et donc de Nibbler. La planète Ethernium se trouve au centre exact de l'univers. Son diamètre n'est que de 30 kilomètres.</p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>           

      <div class="card e">
        <div class="mt-3">
        <img src="https://images.unsplash.com/photo-1614732484003-ef9881555dc3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjQ1fHxwbGFuZXRzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60&height=375" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Juteuse</h5>
          <p class="card-text">La planète Juteuse et ses habitants les Juteux ont été attaqués par les Décapodiens, les Juteux ont été pressés par les Décapodiens d'après les dires du docteur Zoidberg dans l'épisode "un gout de liberté". </p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>     
    <div class="card e">
      <div class="mt-3">
      <img src="https://images.unsplash.com/photo-1590907043334-8eba76905b92?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE1fHxwbGFuZXRzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&height=375" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted"></small>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

{% endblock %}